<topbar title="Milk sales" [backbtn]="true" backUrl="/tabs/sales-menu"></topbar>
<ion-row>
  <ion-col>
    <datepicker position="floating" label="From" [(date)]="this.milkSalesService.selectedFromDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
  <ion-col>
    <datepicker position="floating" label="To" [(date)]="this.milkSalesService.selectedToDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <period-selector (fromDateChange)="this.milkSalesService.selectedFromDate = $event;"></period-selector>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button color="success" expand="full" routerLink="/milk-sales-input/" routerDirection="forward">New sale
    </ion-button>
  </ion-col>
</ion-row>

<ion-content class="ion-no-padding">
  <div *ngFor='let result of this.milkSalesService.milkSalesList | groupmilksalesbydate:this.milkSalesService.changeCounter'>
    <ion-item-divider class="dateLbl" sticky="true">
      <ion-label>
        {{result.date | date: 'yyyy-MM-dd'}}
      </ion-label>
    </ion-item-divider>
    <ion-row *ngFor='let sale of result.milkSalesList' class="product-list">
      <ion-col [size]="!sale.fullAmountPaid ? '9' : '12'" class="ion-no-padding">
        <ion-item button="true" (click)="openMilkSaleRecord(sale)" 
            [color]="sale.fullAmountPaid ? 'success' : ''">
          <ion-label>
            <p style="font-size: 12px;">{{sale.offtaker}}</p>
            <p>
              <b>{{ sale.pricePerLiter * sale.litersSold}} Ksh</b> ({{sale.litersSold}}L @ {{sale.pricePerLiter}} Ksh)
            </p>
          </ion-label>
        </ion-item>
      </ion-col>

      <ion-col *ngIf="!sale.fullAmountPaid" size="3" class="ion-no-padding ion-align-self-stretch">
        <ion-button size="small" fill="outline" class="toggle-btn" color="success" (click)="moneyReceived(sale)">          
            <ion-icon name="logo-usd" style="font-size:20px;"></ion-icon>               
        </ion-button>
      </ion-col>
    </ion-row>
  </div>  
</ion-content>

<ion-footer>
  <ion-row style="padding-left: 10px;">
    <ion-col size="2" class="ion-text-center ion-no-padding">
      <ion-label>
        <p>Sales</p>
        <p>{{this.milkSalesService.milkSalesList.length}}</p>
      </ion-label>
    </ion-col>
    <ion-col size="2" class="ion-text-center ion-no-padding">
      <ion-label>
        <p>Milk</p>
        <p>{{this.milkSalesService.totalLiters}}L</p>
      </ion-label>
    </ion-col>
    <ion-col size="3" class="ion-text-center ion-no-padding">
      <ion-label>
        <p>Money</p>
        <p>{{this.milkSalesService.totalMoney}} Ksh</p>
      </ion-label>
    </ion-col>
    <ion-col size="5" class="ion-text-center ion-no-padding">
      <ion-label>
        <p>Money received</p>
        <p>{{this.milkSalesService.totalMoneyReceived}} Ksh</p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-footer>