<ion-header>
  <ion-toolbar color="success">
    <ion-title>Farm Overview</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
        <ion-button expand="full" (click)="logout()">Logout</ion-button>
        <ion-button expand="block" type="button" routerLink="/register-farm" color="success">Add New Farm
        </ion-button>

        <ion-card button="true" *ngFor="let farm of farmsList" (click)="clicked()">
          <ion-card-header>
            <ion-card-title>{{farm.name}}</ion-card-title>
            <ion-card-subtitle>{{farm.address}}, {{farm.county}}, {{farm.country}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            {{farm.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>