<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="full" routerLink="/edit-account">Edit account details</ion-button>
        <ion-button expand="full" routerLink="/change-password" routerDirection="forward">Change password</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>