<ion-header>
  <ion-toolbar color="success">
    <ion-title>Other sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-item (click)="openFromDatePicker()">
      <ion-label position="floating" color="medium">From</ion-label>
      <ion-input [(ngModel)]="this.otherSalesService.selectedFromDate" readonly></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item (click)="openToDatePicker()">
      <ion-label position="floating" color="medium">To</ion-label>
      <ion-input [(ngModel)]="this.otherSalesService.selectedToDate" readonly item-center></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <div class="scroll-container">
        <div class="scroll" scrollX="true">
          <ion-button *ngFor='let period of this.otherSalesService.datePicker.periods;' size="default" fill="outline"
            [color]="period.value == this.otherSalesService.selectedPeriod ? 'success' : 'medium'"
            (click)="this.otherSalesService.periodSelected(period.value)">
            {{period.label}}</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button color="success" expand="full" (click)="openNewOtherSaleRecord()">New sale
    </ion-button>
  </ion-col>
</ion-row>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Sale details
      </ion-col>
    </ion-row>

    <ion-row *ngFor='let record of this.otherSalesService.otherSalesList; let i = index;'>
      <ion-col>
        <ion-item button="true" (click)="openOtherSaleRecord(record.id)"
          [color]="record.fullAmountPaid ? 'success' : ''">
          <ion-label>
            <p>{{record.date | date: 'yyyy-MM-dd'}}</p>
            <p>{{record.itemSold}} - {{record.price}} KSH</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>