.scroll-container {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
}
    
.scroll {
    overflow: auto;
}

.dateLbl{
  --background: lightgray;
  font-size: 12px;
  font-weight: bold;
  color: white;
}