<topbar title="Other sales" [backbtn]="true" backUrl="/tabs/sales-menu"></topbar>
<ion-row>
  <ion-col>
    <datepicker position="floating" label="From" [(date)]="this.otherSalesService.selectedFromDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
  <ion-col>
    <datepicker position="floating" label="To" [(date)]="this.otherSalesService.selectedToDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <div class="scroll-container">
        <div class="scroll" scrollX="true">
          <ion-button *ngFor='let period of this.otherSalesService.datePicker.periods;' size="default" fill="outline"
            [color]="period.value == this.otherSalesService.selectedPeriod ? 'success' : 'medium'"
            (click)="this.otherSalesService.periodSelected(period.value)">
            {{period.label}}</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button color="success" expand="full" (click)="openNewOtherSaleRecord()">New sale
    </ion-button>
  </ion-col>
</ion-row>

<ion-content class="ion-no-padding">
  <ion-grid>
    <div *ngFor='let result of this.otherSalesService.otherSalesList | groupothersalesbydate:this.otherSalesService.changeCounter'>
      <ion-item-divider class="dateLbl" sticky="true">
        <ion-label>
          {{result.date | date: 'yyyy-MM-dd'}}
        </ion-label>
      </ion-item-divider>

      <ion-row *ngFor='let sale of result.otherSalesList'>
        <ion-col>
          <ion-item button="true" (click)="openOtherSaleRecord(sale)"
            [color]="sale.fullAmountPaid ? 'success' : ''">
            <ion-label>              
              <p>{{sale.itemSold}} - {{sale.price}} KSH</p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>


  </ion-grid>
</ion-content>