<ion-header>
  <ion-toolbar color="success">
    <ion-title>Create new password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p style="font-size: 14px;margin:0 auto;">
          Please set a new password for your account2.
        </p>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label position="floating" color="medium">Password*</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Repeat Password*</ion-label>
            <ion-input type="password" formControlName="repeatedPassword"></ion-input>
          </ion-item>

          <ion-button color="success" expand="block" type="submit" [disabled]="!resetPasswordForm.valid">Continue</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>