<topbar title="Menu" [backbtn]="false"></topbar>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>

        <ion-button expand="full" routerLink="/tabs/other-sales-overview"
          routerDirection="forward">Other sales
        </ion-button>
        <ion-button expand="full" routerLink="/tabs/expenses-menu">Expenses</ion-button>
        <ion-button expand="full" routerLink="/report-overview" routerDirection="forward">Reports</ion-button>
        <ion-button expand="full" routerLink="/edit-farm" routerDirection="forward">Farm
        </ion-button>
        <ion-button expand="full" routerLink="/feedback" routerDirection="forward">Feedback</ion-button>
        <ion-button expand="full">Help</ion-button>

        <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>
        <ion-button expand="full" (click)="clearFarm()">Clear Farm</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>