<ion-header>
    <ion-toolbar color="success">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-grid>
        <ion-row>
          <ion-col>

              <ion-button expand="full">Reports</ion-button>
              <ion-button expand="full">Account</ion-button>
              <ion-button expand="full">Feedback</ion-button>
              <ion-button expand="full">Help</ion-button>

            <ion-button expand="full" (click)="clearToken()">Clear JWT</ion-button>

            <ion-button expand="full" (click)="logout()">Logout</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
