<ion-header>
  <ion-toolbar color="success">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="this.farmService.farmsList.length > 0; then farmBlock else newFarmBlock"></div>

        <ng-template #farmBlock>
            <h2 *ngFor="let farm of this.farmService.farmsList">{{farm.name}}</h2>

            <ion-list>
              <ion-item>
                <ion-label>Total herd size: </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Latest milk price: </ion-label>
              </ion-item>              
            </ion-list>

            <ion-item>
              <ion-button *ngFor='let period of this.milkService.datePicker.periodsShort;' size="small" fill="outline"
                [color]="period.value == this.milkService.selectedPeriod ? 'success' : 'medium'"
                (click)="this.milkService.periodSelected(period.value)">
                {{period.label}}</ion-button>
            </ion-item>  

            <ion-item>
              <canvas #cowPodiumChart></canvas>
            </ion-item>

            <ion-item>
              <canvas #milkProductionChart></canvas>
            </ion-item>            
            
            <canvas #expensesChart></canvas>
        </ng-template>

        <ng-template #newFarmBlock>
          Welcome to the Cool Cow Collective App!
          <ion-button expand="block" type="button" color="success" routerLink="/register-farm" routerDirection="forward">Add New Farm
          </ion-button>
        </ng-template>                    
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>