<topbar title="Dashboard" [backbtn]="false"></topbar>
<ion-content class="ion-no-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 style="text-align: center; margin: 0;" *ngIf="farm">{{farm.name}}</h2>
        <period-selector (fromDateChange)="fromDateChanged($event)" (returnPeriod)="period = $event;"></period-selector>

        <ion-row style="padding-left: 10px;">
          <ion-col size="3" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Herd size</p>
              <p>{{herdSize}}</p>
            </ion-label>
          </ion-col>

          <ion-col size="4" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Lactating cows</p>
              <p>{{lactatingCows}}</p>
            </ion-label>
          </ion-col>

          <ion-col size="5" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Average milk/day</p>
              <p>{{averageMilk | number : '1.1-1'}}</p>
            </ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="padding-left: 10px;">
          <ion-col size="4" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Total milk produced</p>
              <p>{{totalMilkProduced}} L</p>
            </ion-label>
          </ion-col>

          <ion-col size="4" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Total milk sold</p>
              <p>{{totalMilkSold}} Ksh</p>
            </ion-label>
          </ion-col>

          <ion-col size="4" class="ion-text-center ion-no-padding">
            <ion-label>
              <p>Total expenses</p>
              <p>{{totalExpenses}} Ksh</p>
            </ion-label>
          </ion-col>
        </ion-row>


    <milk-production-chart *ngIf="milkProductionChartData" [period]="period" [fromDate]="fromDate" [toDate]="toDate"
      [inputData]="milkProductionChartData"></milk-production-chart>
    <cow-podium-chart *ngIf="cowChartData" [period]="period" [period]="period" [fromDate]="fromDate" [toDate]="toDate"
      [inputData]="cowChartData"></cow-podium-chart>
    <expenses-chart *ngIf="expensesData" [period]="period" [fromDate]="fromDate" [toDate]="toDate"
      [inputData]="expensesData"></expenses-chart>

    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>