<topbar title="Add new cow" [backbtn]="true"></topbar>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="cowForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <h3>
            Basic information
          </h3>

          <ion-item>
            <ion-label position="floating" color="medium">Name*</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Ear tag number</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="tagnumber"></ion-input>
          </ion-item>

          <ion-item (click)="openDatePicker('birthdate')">
            <ion-label position="fixed" color="medium">Birth date</ion-label>
            <ion-input formControlName="birthdate" readonly></ion-input>
            <ion-icon position="fixed" name="calendar"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label color="medium">Type*</ion-label>
            <ion-select formControlName="cowtype" placeholder="Select One" (ionChange)="cowTypeSelected($event)">
              <ion-select-option value="Cow">Cow</ion-select-option>
              <ion-select-option value="Heifer">Heifer</ion-select-option>
              <ion-select-option value="Calf">Calf</ion-select-option>
              <ion-select-option value="Bull">Bull</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="showFullStatusList">
            <ion-label color="medium">Status*</ion-label>
            <ion-select formControlName="cowstatus" placeholder="Select One" (ionChange)="cowStatusSelected($event)">
              <ion-select-option value="Lactating">Lactating</ion-select-option>
              <ion-select-option value="Non-Lactating">Non-lactating</ion-select-option>
              <ion-select-option value="N/A">N/A</ion-select-option>
            </ion-select>
          </ion-item>          

          <ion-item *ngIf="!showFullStatusList">
            <ion-label color="medium">Status*</ion-label>
            <ion-select formControlName="cowstatus" placeholder="Select One">
              <ion-select-option value="N/A">N/A</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="showLactatingSinceDate" (click)="openDatePicker('lactatingsincedate')">
            <ion-label position="fixed" color="medium">Lactating since</ion-label>
            <ion-input formControlName="lactatingsincedate" readonly></ion-input>
            <ion-icon position="fixed" name="calendar"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Breed</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="breed"></ion-input>
          </ion-item>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <!-- <ion-row [hidden]="keyboard.isVisible"> -->
    <ion-row>
    <ion-col>
      <ion-button color="success" expand="full" type="submit" [disabled]="!cowForm.valid" (click)="onSubmit()">Register
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>