<ion-header>
  <ion-toolbar color="success">
    <ion-title>Verifying it's you</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          For your security, we need to verify your identity. We have sent a code to the following email address:
        </p>
        
        <div class="ion-text-center ion-padding">
            <b>{{email}}</b>
        </div>
        
        <p class="ion-text-center">          
          Please enter it below:
        </p>

        <div style="margin-top: 20px;"></div>

        <form [formGroup]="verifyEmailForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <div class="ion-text-center">            
              <ion-input #n1 formControlName="n1" class="input-box" type="number" (keyup)="checkInput(n1, n2)"></ion-input>              
              <ion-input #n2 formControlName="n2" class="input-box" type="number" (keyup)="checkInput(n2, n3)"></ion-input>
              <ion-input #n3 formControlName="n3" class="input-box" type="number" (keyup)="checkInput(n3, n4)"></ion-input>
              <ion-input #n4 formControlName="n4" class="input-box" type="number" (keyup)="checkInput(n4, n5)"></ion-input>
              <ion-input #n5 formControlName="n5" class="input-box" type="number" (keyup)="checkInput(n5, n6)"></ion-input>
              <ion-input #n6 formControlName="n6" class="input-box" type="number" (keyup)="checkInput(n6, null)"></ion-input>
          </div>

          <div style="margin-top: 20px;"></div>

          <ion-button color="success" expand="block" type="submit" [disabled]="!verifyEmailForm.valid">Continue
          </ion-button>
          <ion-button expand="full" fill="clear" color="success" (click)="resendPasswordResetCode()">Resend Code
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>