<topbar title="Verifying it's you" [backbtn]="true" [accountBtn]="false"></topbar>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          For your security, we need to verify your identity. We have sent a code to the following email address:
        </p>
        
        <div class="ion-text-center ion-padding">
            <b>{{email}}</b>
        </div>
        
        <p class="ion-text-center">          
          Please enter it below:
        </p>

        <div style="margin-top: 20px;"></div>

        <verification-code-input (returncode)="onSubmit($event)" (resendcode)="resendPasswordResetCode()"></verification-code-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>