<topbar title="Recover password" [backbtn]="true" [accountBtn]="false"></topbar>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="description-text-center">
          Please enter the email address associated with your <b>Cool Cow Collective</b> accunt.
        </p>

        <div style="margin-top: 20px;"></div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <ion-item>
            <ion-label position="floating" color="medium">Email*</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-button color="success" expand="block" type="submit" [disabled]="!forgotPasswordForm.valid">Continue
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>