  <div *ngFor="let result of expensesList 
  | groupexpensesbydate: livestockExpensesList: this.expensesService.changeCounter">
    <ion-item-divider class="dateLbl" sticky="true">
      <ion-label>
        {{result.date | date: 'yyyy-MM-dd'}}
      </ion-label>
    </ion-item-divider>

    <ion-row *ngFor='let expense of result.expensesList' class="product-list">
      <ion-col [size]="12" no-padding>
        <ion-item button="true" (click)="openExpenseRecord(expense)">
          <ion-note slot="end" style="font-size: 16px;">{{expense.totalPrice}} Ksh </ion-note>
          <ion-label>
            <p style="font-size: 12px;">{{expense.type}}</p>
            <p>
              <b>({{expense.quantity}}
                {{expense.quantityUnit == null || expense.quantityUnit == 'units' 
                ? 'x' 
                : expense.quantityUnit}}) </b>
              {{expense.itemBought}} @ {{expense.price}} Ksh
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor='let expense of result.livestockExpensesList' class="product-list">
      <ion-col [size]="12" no-padding>
        <ion-item button="true">
          <ion-note slot="end" style="font-size: 16px;">{{expense.price}} Ksh </ion-note>
          <ion-label>
            <p style="font-size: 12px;">{{expense.cowDetails.cowType}}</p>
            <p>              
              {{expense.cowDetails.name}} @ {{expense.price}} Ksh
            </p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>