<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button (click)="goToDashboard()">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="milk-entry">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Milk entry</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="herd">
        <ion-icon name="paw"></ion-icon>
        <ion-label>Herd</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="sales-menu">
      <ion-icon name="logo-euro"></ion-icon>
      <ion-label>Sales</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>