<topbar title="Confirm your email" [backbtn]="true" [accountBtn]="false"></topbar>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-text-start">
          We have sent an activation code to email <b>{{email}}</b>. Please enter it below.
        </p>
        <div style="margin-top: 20px;"></div>
        <div class="ion-text-center">
          <verification-code-input (returncode)="onSubmit($event)" (resendcode)="resendConfirmationCode()">
          </verification-code-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>