<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register Farm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form>
          <ion-item>
            <ion-label position="floating" color="medium">Farm Name*</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Phone</ion-label>
            <ion-input type="tel"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Location/Address</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">County</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Country</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Description</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
        </form>
        <ion-button expand="block" type="button" routerLink="/register-farm" color="success">Save Farm
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>