<ion-header>
  <ion-toolbar color="success">
    <ion-title>Register Farm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="newFarmForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <ion-item>
            <ion-label position="floating" color="medium">Farm Name*</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Phone</ion-label>
            <ion-input type="tel" formControlName="phonenumber"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Location/Address</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">County</ion-label>
            <ion-input type="text" formControlName="county"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Country</ion-label>
            <ion-input type="text" formControlName="country"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Farm Description</ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>

          <ion-button color="success" expand="block" type="submit" [disabled]="!newFarmForm.valid">Save Farm</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>