<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cow passport</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form *ngIf="cowForm != null" [formGroup]="cowForm" (ngSubmit)="updateCow()" (keyup.enter)="updateCow()">
          <h3>
            Basic information
          </h3>

          <ion-item>
            <ion-label position="floating" color="medium">Name*</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Ear tag number</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="tagnumber"></ion-input>
          </ion-item>

          <ion-item (click)="openDatePicker()">
            <ion-label position="fixed" color="medium">Birth date</ion-label>
            <ion-input formControlName="birthdate" readonly></ion-input>
            <ion-icon position="fixed" name="calendar"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label color="medium">Type*</ion-label>
            <ion-select formControlName="cowtype" placeholder="Select One">
              <ion-select-option value="Cow">Cow</ion-select-option>
              <ion-select-option value="Heifer">Heifer</ion-select-option>
              <ion-select-option value="Calf">Calf</ion-select-option>
              <ion-select-option value="Bull">Bull</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Breed</ion-label>
            <ion-input autocapitalize="on" type="text" formControlName="breed"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="medium">Status*</ion-label>
            <ion-select formControlName="cowstatus" placeholder="Select One">
              <ion-select-option value="Lactating">Lactating</ion-select-option>
              <ion-select-option value="NonLactating">Non-lactating</ion-select-option>
              <ion-select-option value="N/A">N/A</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label color="medium">State</ion-label>
              <ion-select formControlName="cowstate" placeholder="Select One">
                <ion-select-option value="InHerd">In Herd</ion-select-option>
                <ion-select-option value="Deleted">Deleted</ion-select-option>
                <ion-select-option value="Sold">Sold</ion-select-option>
                <ion-select-option value="Deceased">Deceased</ion-select-option>
              </ion-select>
            </ion-item>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row [hidden]="keyboard.isVisible">
    <ion-col col-6>
      <ion-button color="success" expand="full" type="submit" size="default" (click)="updateCow()"
        [disabled]="!cowForm.valid">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col col-6>
      <ion-button expand="full" size="default" color="danger" routerLink="/delete-cow/{{cowId}}">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>