<form *ngIf="form" [formGroup]="form">
  <ion-item>
    <ion-label color="medium">Item*</ion-label>
    <ion-select formControlName="itembought" placeholder="Select One">
      <ion-select-option value="Antibiotics">Antibiotics </ion-select-option>
      <ion-select-option value="Painkiller">Painkiller</ion-select-option>
      <ion-select-option value="Vaccination">Vaccination</ion-select-option>
      <ion-select-option value="Semen">Semen</ion-select-option>
      <ion-select-option value="Veterinary treatment">Veterinary treatment</ion-select-option>
      <ion-select-option value="Veterinary equipment">Veterinary equipment</ion-select-option>
      <ion-select-option value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating" color="medium">Price per item (Ksh)*
    </ion-label>
    <ion-input autocapitalize="on" type="number" formControlName="price"></ion-input>
  </ion-item>

  <ion-item style="display: inline-block;width: 150px;vertical-align: bottom;">
    <ion-label position="floating" color="medium">Quantity*</ion-label>
    <ion-input autocapitalize="on" type="number" formControlName="quantity"></ion-input>
  </ion-item>

  <ion-item class="ion-no-padding" style="display: inline-block;width: 100px;vertical-align: bottom;margin-left: 10px;">
    <ion-select formControlName="quantityUnit" placeholder="Unit" style="max-width: 100%;padding-left:0;">
      <ion-select-option value="shots">shots</ion-select-option>
      <ion-select-option value="straws">straws</ion-select-option>
      <ion-select-option value="units">units</ion-select-option>
      <ion-select-option value="pills">pills</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="medium">Total price (Ksh)
    </ion-label>
    <ion-input autocapitalize="on" type="number" formControlName="totalprice"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="medium">Seller name</ion-label>
    <ion-input autocapitalize="on" type="text" formControlName="sellername"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating" color="medium">Seller company</ion-label>
    <ion-input autocapitalize="on" type="text" formControlName="sellercompany"></ion-input>
  </ion-item>

  <ion-item class="ion-no-padding" *ngIf="!recurringId || isRootRecord" [disabled]="isExistingRootRecord">
    <ion-label color="medium" style="padding-left: 16px;">Is recurring*</ion-label>
    <ion-toggle slot="end" formControlName="recurringisactive" color="success"></ion-toggle>
  </ion-item>

  <ion-item *ngIf="(recurringIsActive && !recurringId) || isRootRecord">
    <ion-label position="floating" color="medium">Recurring period (days)*</ion-label>
    <ion-input autocapitalize="on" type="number" formControlName="recurringperiodindays"></ion-input>
  </ion-item>
</form>

<ion-button color="success" expand="full" [disabled]="form.invalid" (click)="emitForm(form)">
  <ion-icon name="save"></ion-icon>
</ion-button>

<ion-button *ngIf="isExistingRecord && !isRecurringRecord" color="danger" expand="full" (click)="delete(expensesDetails)">
  <ion-icon name="trash"></ion-icon>
</ion-button>