<topbar title="Other sales edit" [backbtn]="true"></topbar>
<ion-item (click)="openDatePicker()">
  <ion-label position="fixed" color="medium">Date</ion-label>
  <ion-input [(ngModel)]="this.selectedDate" readonly></ion-input>
  <ion-icon position="fixed" name="calendar"></ion-icon>
</ion-item>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <othersales-form *ngIf="othersalesDetails" [isExistingRecord]="true" [selectedDate]="selectedDate" 
          [othersalesDetails]="othersalesDetails" (returnform)="onSubmit($event)" (delete)="onDelete($event)">
        </othersales-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>