<ion-header>
  <ion-toolbar color="success">
    <ion-title>Milk entry</ion-title>
  </ion-toolbar>
</ion-header>


<ion-item (click)="openDatePicker()">
  <ion-label position="fixed" color="medium">Date</ion-label>
  <ion-input [(ngModel)]="selectedDateString" readonly></ion-input>
  <ion-icon position="fixed" name="calendar"></ion-icon>
</ion-item>

<ion-item>
  <ion-button size="default" fill="outline" [color]="timeOfDay == 'Morning' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Morning')">
    Morning</ion-button>

  <ion-button size="default" fill="outline" [color]="timeOfDay == 'Afternoon' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Afternoon')">
    Afternoon</ion-button>

  <ion-button size="default" fill="outline" [color]="timeOfDay == 'Evening' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Evening')">
    Evening</ion-button>
  <ion-input type="hidden" [value]="timeOfDay"></ion-input>
</ion-item>

<ion-item>
  <ion-icon position="fixed" name="search"></ion-icon>
  <ion-input placeholder="Search..." [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-input>
</ion-item>


<ion-button color="success" size="small" (click)="submit()">Submit records</ion-button>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list style="width: 100%;">
            <ion-item button="true" *ngFor='let record of filteredMilkRecordsList; let i = index;' (click)="cowSelected(record, i)"
            [class.focus]="scrollTo === i"  [class.selected]="record === currentlySelected">
                <ion-avatar slot="start">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
                <ion-label>
                  <p>{{record.tagNumber}}</p>
                  <h3>{{record.cowName}}</h3>
                </ion-label>
                <ion-label style="text-align: right;">
                  <h3>{{record.amount | number : '1.1-1'}} L</h3>
                </ion-label>           
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<div style="text-align: center;">
  <div style="display: block;">
    <ion-button color="success" size="small" (click)="toPreviousCow()">Prev</ion-button>

    <ion-button style="padding: 1px;" color="danger" size="small" (click)="subtractOne()">-1</ion-button>
    <ion-button style="padding: 1px;" color="danger" size="small" (click)="subtractOneDecimal()">-0.1
    </ion-button>
    <ion-input class="input-box" type="number" value="{{inputProduction | number : '1.1-1'}}" (input)="inputProductionChanged($event)"></ion-input>
    <ion-button style="padding: 1px;" color="success" size="small" (click)="addOneDecimal()">+0.1</ion-button>
    <ion-button style="padding: 1px;" color="success" size="small" (click)="addOne()">+1</ion-button>

    <ion-button color="success" size="small" (click)="toNextCow()">Next</ion-button>
  </div>

  <!-- <ion-button style="padding: 2px;" color="success" size="small">Insert</ion-button>
  <ion-button style="padding: 2px;" color="danger" size="small" (click)='showInputPanel = false'>Close 
  </ion-button>-->
</div>