<topbar title="Milk entry" [backbtn]="false"></topbar>
<datepicker position="fixed" label="Date" [addIcon]="true" [(date)]="this.milkService.selectedDate"></datepicker>
<ion-item>
  <ion-button size="default" fill="outline" [color]="this.milkService.timeOfDay == 'Morning' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Morning')">
    Morning</ion-button>

  <ion-button size="default" fill="outline" [color]="this.milkService.timeOfDay == 'Afternoon' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Afternoon')">
    Afternoon</ion-button>

  <ion-button size="default" fill="outline" [color]="this.milkService.timeOfDay == 'Evening' ? 'success' : 'medium'"
    (click)="timeOfDaySelected('Evening')">
    Evening</ion-button>
  <ion-input type="hidden" [value]="this.milkService.timeOfDay"></ion-input>
</ion-item>

<ion-item>
  <ion-icon position="fixed" name="search"></ion-icon>
  <ion-input placeholder="Search..." [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-input>
</ion-item>


<ion-button color="success" size="small" (click)="submit()">Submit records
  ({{this.milkService.totalLiters | number : '1.1-1'}} L)</ion-button>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list style="width: 100%;">
          <ion-item button="true" *ngFor='let record of this.milkService.filteredMilkRecordsList; let i = index;'
            (click)="cowSelected(record, i)" [class.focus]="scrollTo === i"
            [class.selected]="record === this.milkService.currentlySelected">
            <ion-avatar slot="start">
              <img src="\assets\img\2358557.png">
            </ion-avatar>
            <ion-label>
              <p>{{record.tagNumber}}</p>
              <h3>{{record.cowName}}</h3>
            </ion-label>
            <ion-label style="text-align: right;">
              <h3>{{record.amount | number : '1.1-1'}} L</h3>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row>

    <!-- [hidden]="keyboard.isVisible" -->
    <ion-col col-2 class="test" no-padding>
      <ion-button class="addOrSubBtn" color="danger" size="small" (click)="this.milkService.subtractOne()" fill="clear">
        -1</ion-button>
    </ion-col>
    <!-- [hidden]="keyboard.isVisible" -->
    <ion-col col-2 class="test" no-padding>
      <ion-button class="addOrSubBtn" color="danger" size="small" (click)="this.milkService.subtractOneDecimal()"
        fill="clear">-0.1</ion-button>
    </ion-col>

    <ion-col col-4 no-padding>
      <form (submit)="inputProductionSubmitted()">
        <ion-item>
          <ion-input autocapitalize="on" name="test" type="number" [(ngModel)]="this.milkService.inputProduction"
            (click)="inputProductionClicked()">
          </ion-input>
        </ion-item>
      </form>
    </ion-col>

    <!-- [hidden]="keyboard.isVisible" -->
    <ion-col col-2 class="test" no-padding>
      <ion-button class="addOrSubBtn" color="success" size="small" (click)="this.milkService.addOneDecimal()"
        fill="clear">+0.1</ion-button>
    </ion-col>
    <!-- [hidden]="keyboard.isVisible" -->
    <ion-col col-2 class="test" no-padding>
      <ion-button class="addOrSubBtn" color="success" size="small" (click)="this.milkService.addOne()" fill="clear">+1
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- [hidden]="keyboard.isVisible" -->
  <ion-row> 
    <ion-col col-2 no-padding>
      <ion-button expand="full" color="danger" size="small" (click)="toPreviousCow()">
        <ion-icon name="arrow-back"></ion-icon> Prev
      </ion-button>
    </ion-col>

    <ion-col col-2 no-padding>
      <ion-button expand="full" color="success" size="small" (click)="toNextCow()">
        Next <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>