<p>
  expense works! {{type}} {{date}} {{expensesDetails.farmId}}
</p>

<!-- <feed-expense-form *ngIf="type == 'Feed'" [form]="expensesForm"></feed-expense-form>
<medicine-expense-form *ngIf="type == 'Medicine'" [form]="expensesForm"></medicine-expense-form>
<labour-expense-form *ngIf="type == 'Labour'" [form]="expensesForm"></labour-expense-form>
<livestock-expense-form *ngIf="type == 'Livestock'" [form]="expensesForm"></livestock-expense-form>
<other-expense-form *ngIf="type == 'Other'" [form]="expensesForm"></other-expense-form> -->

<!-- <ion-button color="success" expand="full" [disabled]="expensesForm.invalid" (click)="emitform(expensesForm)">
  <ion-icon name="save"></ion-icon>
</ion-button> -->
