.login-logo{
    width:60%;
    height:auto; 
    display:block;
    margin: 0 auto; //top right bottom left
}

ion-item.login-screen{
    --highlight-color-invalid: var(--highlight-color-valid);
}

ion-button.forgot-pw-btn{   
    --ripple-color: white;
}


