<topbar title="Expenses input" [backbtn]="true"></topbar>
<ion-item (click)="this.service.openDatePicker()">
  <ion-label position="fixed" color="medium">Date</ion-label>
  <ion-input [(ngModel)]="this.service.selectedDate" readonly></ion-input>
  <ion-icon position="fixed" name="calendar"></ion-icon>
</ion-item>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="medium">Item category*</ion-label>
          <ion-select placeholder="Select One" [(ngModel)]="selectedType">
            <ion-select-option value="Feed">Feed</ion-select-option>
            <ion-select-option value="Medicine">Medicine</ion-select-option>
            <ion-select-option value="Labour">Labour</ion-select-option>
            <ion-select-option value="Livestock">Livestock</ion-select-option>
            <ion-select-option value="Other">Other</ion-select-option>
          </ion-select>
        </ion-item>

        <expense-form *ngIf="selectedType && expensesDetails" [type]="selectedType" 
        [date]="this.service.selectedDate" [expensesDetails]="expensesDetails" (returnform)="onSubmit($event)"></expense-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

