#feedbackArea{
    --border-width: 2px;
}

.scroll-container {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
}
    
.scroll {
    overflow: auto;
}