<form *ngIf="verificationForm" [formGroup]="verificationForm">
  <div formArrayName="numberBoxes">
    <ion-input #inputs *ngFor="let numberbox of numberBoxes.controls; let i=index" [formControlName]="i" class="input-box"
      type="number" (keyup)="moveFocus($event, i)" (keydown.backspace)="moveFocusOnBackspace(i)"></ion-input>

    <div style="margin-top: 20px;"></div>

    <ion-button color="success" expand="block" [disabled]="numberBoxes.invalid" (click)="emitcode(numberBoxes)">Continue
    </ion-button>
    <ion-button expand="full" fill="clear" color="success" (click)="executeCodeResend()">Resend Code</ion-button>
  </div>
</form>