<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
          <p style="font-size: 14px;margin:0 auto;">
            Please use this form to change the password of your <b>Cool Cow Collective</b> account.
          </p>

          <ion-item>
            <ion-label position="floating" color="medium">Old password*</ion-label>
            <ion-input type="password" formControlName="oldpassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">New password*</ion-label>
            <ion-input type="password" formControlName="newpassword"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="medium">Repeat new password*</ion-label>
            <ion-input type="password" formControlName="repeatedNewPassword"></ion-input>
          </ion-item>

          <div style="margin-top: 20px;"></div>

          <ion-button color="success" expand="block" type="submit" [disabled]="!changePasswordForm.valid">Change password</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>