.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .scroll-container {
    width: 100%;
    overflow: hidden; 
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    
    .scroll {
      overflow: auto;
    }
  }