<ion-header>
  <ion-toolbar color="success">
    <ion-title>My herd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-icon position="fixed" name="search"></ion-icon>
  <ion-input placeholder="Search..." [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-input>
</ion-item>



<ion-button color="success" expand="full" routerLink="/register-cow/{{farmId}}">Add cow</ion-button>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div> -->

        <ion-card button="true" *ngFor='let cow of filteredCowsList' routerLink="/cow-passport/{{cow.id}}">
          <ion-item>
            <ion-avatar>
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>

            <ion-card-header style="max-width: 150px;" text-wrap>
              <ion-card-subtitle *ngIf="cow.tagNumber != null">#{{cow.tagNumber}}</ion-card-subtitle>
              <ion-card-title>{{cow.name}}</ion-card-title>
              <ion-card-subtitle>{{cow.cowStatus}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>