<topbar title="My herd" [backbtn]="false"></topbar>

<ion-item>
  <ion-icon position="fixed" name="search"></ion-icon>
  <ion-input placeholder="Search..." [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-input>

  <ion-button style="width: 45px; text-align: center;" color="default">
    <ion-icon position="fixed" name="funnel" color="dark">
    </ion-icon>
    <ion-label style="display: none;">Filters</ion-label>
    <ion-select multiple="true" style="width: 0px;" [(ngModel)]="filters" (ionChange)="applyFilters()">
      <ion-select-option *ngFor="let cowStatus of cowStatuses" [selected]="true">{{cowStatus}}</ion-select-option>
    </ion-select>
  </ion-button>
</ion-item>

<div class="scroll-container">
  <div class="scroll" scrollX="true">
    <ion-chip outline *ngFor='let filter of filters'>
      <ion-label>{{filter}}</ion-label>
      <ion-icon name="close" (click)=removeFilter(filter)></ion-icon>
    </ion-chip>
  </div>
</div>

<ion-button color="success" expand="full" routerLink="/register-cow" routerDirection="forward">Add cow</ion-button>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <div *ngIf="searching" class="spinner-container">
          <ion-spinner></ion-spinner>
        </div> -->
        <ion-card  button="true" *ngFor='let cow of this.cowService.filteredCowsList' (click)="openCowPassport(cow.id)">
          <ion-item no-lines>
            <ion-avatar>
              <img src="\assets\img\2358557.png">
            </ion-avatar>

            <ion-card-header style="max-width: 150px;" class="ion-text-wrap">
              <ion-card-subtitle *ngIf="cow.tagNumber != null">#{{cow.tagNumber}}</ion-card-subtitle>
              <ion-card-title>{{cow.name}}</ion-card-title>
              <ion-card-subtitle>{{cow.cowType}}</ion-card-subtitle>
              <ion-card-subtitle>{{cow.cowStatus}}</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>

            </ion-card-content>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>