<ion-header>
  <ion-toolbar color="success">
    <ion-title>Other sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-item (click)="openFromDatePicker()">
      <ion-label position="floating" color="medium">From</ion-label>
      <ion-input [(ngModel)]="selectedFromDateString" readonly></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item (click)="openToDatePicker()">
      <ion-label position="floating" color="medium">To</ion-label>
      <ion-input [(ngModel)]="selectedToDateString" readonly item-center></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <div class="scroll-container">
        <div class="scroll" scrollX="true">
          <ion-button size="default" fill="outline" [color]="period == 'lastweek' ? 'success' : 'medium'"
            (click)="periodSelected('lastweek')">
            1 week</ion-button>

            <ion-button size="default" fill="outline" [color]="period == 'last2weeks' ? 'success' : 'medium'"
            (click)="periodSelected('last2weeks')">
            2 weeks</ion-button>

          <ion-button size="default" fill="outline" [color]="period == 'lastmonth' ? 'success' : 'medium'"
            (click)="periodSelected('lastmonth')">
            1 month</ion-button>

          <ion-button size="default" fill="outline" [color]="period == 'lastquarter' ? 'success' : 'medium'"
            (click)="periodSelected('lastquarter')">
            3 months</ion-button>

          <ion-button size="default" fill="outline" [color]="period == 'lastyear' ? 'success' : 'medium'"
            (click)="periodSelected('lastyear')">
            1 year</ion-button>          
        </div>
      </div>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button color="success" expand="full" routerLink="/other-sales-input/" routerDirection="forward">New sale
    </ion-button>
  </ion-col>
</ion-row>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        Sale details
      </ion-col>
      <ion-col size="2">
        Paid
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-item button="true" routerLink="/other-sales-edit/1" routerDirection="forward">
          <ion-label>
            <p>2019-Sep-18</p>
            <p>Calve - Bertha - 100k KSH</p>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-label>
          <ion-checkbox style="margin-top: 3px;"></ion-checkbox>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list style="width: 100%;">
          <ion-item button="true" *ngFor='let record of milkSalesList; let i = index;'>
            <ion-label>
              <p>{{record.date}}</p>
              <h3>{{record.litersSold}} L - {{record.offtaker}} - {{record.pricePerLiter}} KSH</h3>
            </ion-label>
            <ion-label style="text-align: right;">
              <h3>{{record.amount | number : '1.1-1'}} L</h3>
            </ion-label> 
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>