<topbar title="Delete cow" [backbtn]="true"></topbar>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label>Keep cow records?</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-label>Yes</ion-label>
              <ion-radio slot="start" value="True" color="success" (click)="keepRecords=true" checked></ion-radio>
            </ion-item>

            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio slot="start" value="False" color="danger" (click)="keepRecords=false"></ion-radio>
            </ion-item>
            
          </ion-radio-group>
        </ion-list>


        <ion-button size="default" color="danger" (click)="deleteCow()">
          Delete</ion-button>

        <ion-button size="default" routerLink="/cow-passport" routerDirection="back">
          Cancel</ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>