<ion-header>
  <ion-toolbar color="success">
    <ion-title>Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col>
    <ion-item (click)="openFromDatePicker()">
      <ion-label position="floating" color="medium">From</ion-label>
      <ion-input [(ngModel)]="this.expensesService.selectedFromDate" readonly></ion-input>
    </ion-item>
  </ion-col>
  <ion-col>
    <ion-item (click)="openToDatePicker()">
      <ion-label position="floating" color="medium">To</ion-label>
      <ion-input [(ngModel)]="this.expensesService.selectedToDate" readonly item-center></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <div class="scroll-container">
        <div class="scroll" scrollX="true">
          <ion-button *ngFor='let period of this.expensesService.datePicker.periods;' size="default" fill="outline"
            [color]="period.value == this.expensesService.selectedPeriod ? 'success' : 'medium'"
            (click)="this.expensesService.periodSelected(period.value)">
            {{period.label}}</ion-button>
        </div>
      </div>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-button color="success" expand="full" routerLink="/expenses-input/" routerDirection="forward">New expense
    </ion-button>
  </ion-col>
</ion-row>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        Expense details
      </ion-col>
    </ion-row>

    <ion-row *ngFor='let record of this.expensesService.expensesList; let i = index;'>
      <ion-col>
        <ion-item button="true" (click)="openExpenseRecord(record.id)" 
        [color]="record.isRecurring ? 'success' : ''">
          <ion-label>
            <p>{{record.date | date: 'yyyy-MM-dd'}}</p>
            <p>{{record.itemBought}} - {{record.sellerName}} - {{record.price}} KSH</p>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>