<topbar title="Expenses overview" [backbtn]="true" backUrl="/expenses-menu"></topbar>
<ion-row>
  <ion-col>
    <datepicker position="floating" label="From" [(date)]="fromDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
  <ion-col>
    <datepicker position="floating" label="To" [(date)]="toDate" (ionChange)="dateChanged()"></datepicker>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <period-selector (fromDateChange)="fromDate = $event;"></period-selector>
  </ion-col>
</ion-row>

<ion-content no-padding>
  <ion-row>
    <ion-col>
      <b>Recurring expenses</b>
    </ion-col>
  </ion-row>

  <recurring-overview *ngIf="this.expensesService.recurringExpensesList" [fromDate]="fromDate" [toDate]="toDate"
   [expensesList]="this.expensesService.recurringExpensesList"></recurring-overview>

<ion-row>
  <ion-col>
    <b>Non-recurring expenses</b>
  </ion-col>
</ion-row>
<non-recurring-overview *ngIf="this.expensesService.expensesList && this.expensesService.livestockExpensesList"
 [expensesList]="this.expensesService.expensesList" 
 [livestockExpensesList]="this.expensesService.livestockExpensesList"></non-recurring-overview>
  
</ion-content>