<topbar title="Milk sales edit" [backbtn]="true"></topbar>
<datepicker position="fixed" label="Date" [addIcon]="true" [(date)]="selectedDate"></datepicker>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <milksales-form *ngIf="milksalesDetails" [isExistingRecord]="true" [selectedDate]="selectedDate" 
        [milksalesDetails]="milksalesDetails" (returnform)="onSubmit($event)" (delete)="onDelete($event)"></milksales-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>