// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

html{
  font-size: 16px;
}

ion-button{
    text-transform: none;
}

ion-item{
    --highlight-color-invalid: var(--ion-color-warning);
}

//input label when focused
.item-has-focus .label-floating.sc-ion-label-md-h{
    color: var(--ion-color-medium);
}

.hr{
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
}

.splash{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.li-ionic4-datePicker {
  .modal-wrapper {
    height: 75%;
    width: 300px;
    border-radius: 0px;

    --ion-color-primary: var(--ion-color-success); // This Variable used for the change of colour ion-datepicker only.
        --ion-color-primary-tint: var(--ion-color-success-tint); // This Variable changes the tint colour of background when click button.
 
        ion-button {
            //--ion-color-primary: var(--ion-color-success); // This Variable used for the change colour of buttons only.
            // --ion-color-primary-tint: lightgreen; // This Variable changes the tint color of background when click buttons.
            // --border-radious: 0px; // This Variable changes the border radious of buttons.
            // button customization css write here...
        }

    @media (min-width: 768px) {
       width: 340px;
       height: 65%;
    }
  }
}

.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}
      
      .sk-cube-grid .sk-cube {
        width: 33%;
        height: 33%;
        background-color: #73bd6b;
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
                animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
      }
      .sk-cube-grid .sk-cube1 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube2 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube3 {
        -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s; }
      .sk-cube-grid .sk-cube4 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube5 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      .sk-cube-grid .sk-cube6 {
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .sk-cube-grid .sk-cube7 {
        -webkit-animation-delay: 0s;
                animation-delay: 0s; }
      .sk-cube-grid .sk-cube8 {
        -webkit-animation-delay: 0.1s;
                animation-delay: 0.1s; }
      .sk-cube-grid .sk-cube9 {
        -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s; }
      
      @-webkit-keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1); 
        }
      }
      
      @keyframes sk-cubeGridScaleDelay {
        0%, 70%, 100% {
          -webkit-transform: scale3D(1, 1, 1);
                  transform: scale3D(1, 1, 1);
        } 35% {
          -webkit-transform: scale3D(0, 0, 1);
                  transform: scale3D(0, 0, 1);
        } 

}
